*,
::before,
::after
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.hero-image
{
    /* height: auto;
    max-width: 80%; */
    width: 536px;
    height: 536px;
    border: 20px solid white;
    border-radius: 50%;   
}
.h-custom
{
    height: calc(100% -73px);
}

.logo-header
{
    width: 270px;
    height: 56px;
    margin-top: 30px;
}

.lead-text
{
    font-size: 40px; 
    /* 30px */
    font-weight: 300;
    color: #3E3E3E;
}

.mark-text
{
    font-weight: 900;
    color: #C8242F;
}

.action-message
{
    font-size: 25px;
    font-weight: 400;
}

.custom-input
{
    width: 429px;
    height: 49px;
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
    border: 1px solid #ADADAD;
    border-radius: 5px;
}

.login-option
{
    margin-top: 31px;
    max-width: 429px;
    height: auto;
}
.btn-login
{
    background-color:#C8242F;
    font-weight: 400;
    font-size: 18px;
    width: 138px;
    height: 45px;
    border:none;
    border-radius: 23px;
}

.que-action
{
    font-weight: 400px;
    font-size: 15px;
    color: #ADADAD;
}

.action-register
{
    font-weight: 400px;
    font-size: 15px;
    color: #C8242F;
}

/* DashBoard CSS */

.navbar
{
    background-color:#FFFFFF;
    /* width: 100vw; */
    height: 80px;
}

.navbar-brand>img
{
    height: 12px;
    width: 18px;
}

.input-group > .icon-search
{
    max-width: 14%;
    max-height: 14%;
    border: none;
}

.input-group > .text-search
{
    font-weight: 400;
    font-size: 16px;
    border:none;
}

aside
{
    width: min(242px, 100%);
    height: 80vh;   
    font-size: 16px;
    font-weight: 400px;
    /* transform: translateX( -242px); */
}

.sidebar-icon
{
    height: 15px;
    width: 15px;
}

.sidebar-link
{
    font-weight: 400px;
    color: #3E3E3E;
    font-size: 16px;
}

.sidebar-item-active
{
    background-color: #FFF3F4;
    border-radius: 5px;
}

.sidebar-item-active .sidebar-link>span
{
    color: #C8242F;
}

.show-sidebar
{
    /* transform: translateX(0); */
    width: min(242px, 100%);
    display: none;
}

.card-custom
{
    padding: 20px 10px;
    border-radius: 5px;
}
.card-icon
{
    width: 30px;
    height: 30px;
}

.card-info
{
    font-size: 15px;
    font-weight: 400;
}


.data-graph
{
    width: 802px;
    height: 400px;
}

.data-graph-title
{
    font-weight: 400;
    font-size: 22px;
}

.parameter-text
{
    font-weight: 400px;
    font-size: 12px;
}
.active-graph-parameter
{
    border-bottom: 1px solid;
    border-color: #C8242F;
    color: #C8242F;;
}

.pie-chart
{
    height: 398px;
    width: 385px;
}

.red-circle
{
    background-color: #C8242F;
    border-radius: 50%;
    height: 18px;
    width: 18px;
}

.yellow-circle
{
    background-color: #EBC844;
    border-radius: 50%;
    height: 18px;
    width: 18px;
}

.orange-circle
{
    background-color: #F16C20;
    border-radius: 50%;
    height: 18px;
    width: 18px;
}

.green-circle
{
    background-color:#A2B86C;
    border-radius: 50%;
    height: 18px;
    width: 18px;
}

.view-table
{
    color: #C8242F;
    font-size: 12px;
    font-weight: 400;
}

.f-right
{
    float: right;
}

.f-left
{
    float: left;
}

.table>thead>tr>th
{
    font-weight: 400;
    font-size: 15px;
    color: #ADADAD;
    text-transform: uppercase;
}

.table>thead>tr>td
{
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
    color: #3E3E3E;
}

.payment-success
{
    padding: 4px 10px;
    font-size: 15px;
    background-color: #EBFFEF;
    border-radius: 5px;
    color: #3CDD5F;
}

.payment-failed
{
    padding: 4px 10px;
    font-size: 15px;
    background-color: #FFF5F5;
    border-radius: 5px;
    color: #FF4545; 
}

.payment-pending
{
    padding: 4px 10px;
    font-size: 15px;
    background-color: #F8F8F8;
    border-radius: 5px;
    color: #BABABA; 
}

#sidebarMenu
{
    z-index: -1;
}
/* Dashboard CSS Complete*/

@media screen and (max-width: 480px){
    .hero-image
    {
        max-width: 80%;
        border: 5px solid white;
    }
}

.dashboard-active-title
{
    font-weight: 500px;
    font-size: 30px;    
}

.pie-text
{
    font-size: 15px;
    font-weight: 400;
}
/*
    Media Queries for dashboard
*/

@media screen and (max-width: 790px){
    .nav-profile-picture
    {
        width: 100px;
        height: 100px;
    }

    aside
    {
        width: 70%;
        text-align: center;
        padding: 10px;
    }

    .sidebar-item-active
    {
        width: 80%;
    }
}

/* Dashboard media done */
